


<h3 class="title-big">Agregar un producto </h3>
<div class="flex-row-div" style="justify-content:space-around">
    <div class="flex-column-div" style="width:40%">
    <p class="title-upload">AGREGA TUS ARCHIVOS</p>
        <div class="flex-column-div upload-container">
            <form action="/products" method="post" enctype="multipart/form-data" id='newproduct'>
                <p class="label-form"> Imagenes </p>
                <input type="file" name="images[]" multiple form='newproduct'>
                <p class="label-form" style="font-weight: 700; "> Archivos </p>
                <input type="file" name="files[]" multiple disabled form='newproduct'>
        </div> 
    </div>
    <div class="flex-column-div" style="width:40%">
        <p class="title-upload">INFORMACIÓN PRODUCTO</p>
        <div class="flex-column-div upload-container">
            <p class="label-form"> Nombre </p>
            <input type="text" name="name" form='newproduct'>
            <p class="label-form"> Descripción </p>
            <textarea rows="3" name="description" style="font-style:italic;padding:1%;" form='newproduct'>Descripción general del producto (para mostrar en bajada de imagen)</textarea>
            <p class="label-form"> Precio Propuesto </p>
            <div style="margin:auto;width:50%">
            <input type="number" name="final_price" style='width:50%' form='newproduct'> CLP
            </div>
        </div> 
    </div>
</div>
<div style="width: 100%;display: flex;margin-top: 3rem;">
    <button type="submit" class="styled-btn btn-red" style='margin:0 auto;width: 30%;' form='newproduct'>Agregar</button>
    </form>
</div>



<style>
body { 
 background-image: url(<%= asset_path 'load.jpeg' %>);
 background-size: cover;
}
</style>